<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/css/app.css"> 
    <title>HOMEPAGE</title>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
      </nav>
    <div class="container">
        <a href='/new/'>Add new car details</a>
        
               <ul>
               <% for( let i=0; i< store.length; i++) { %>
                    <div class="items">
                       <li> <h3><%= store[i].name %></h3></li>
                       <li> <a href='/<%=store[i].id%>'><img src="<%= store[i].imageFront %>"></li></a>
                       <li> Price: $<%= store[i].price %></li>
                   </div>
           <% } %>
   
           </ul>

           

</body>
<footer>

    
</footer>
</html>