<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <a href="/">Back to home page</a>
    <h3><%=store.name%></h3>
    <h3><%=store.features%></h3>
    <h3>$<%=store.price%></h3>
    <img src="<%=store.imageFront%>">
    <img src="<%=store.imageSide%>">
    <img src="<%=store.imageInside%>">
   
    
</body>
</html>