<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>USED CARS</title>
</head>
<body>
    <a href="/">Home</a>

    <form action="/usedcars/" method="POST">
        ZIPCODE: <input type="number" name="zip" placeholder="77001"/><br/>
        Miles fromZIP: <input type="number" name="radius" placeholder="50"/><br/>
        <input type="submit" value="search"/>
    </form>

    <ul>
        <% for( let i=0; i< usedCarValue.length; i++) { %>
             <div class="items">
                <li> <h4>Details :<%= usedCarValue[i].heading %></h4></li>
                <li> <h4>PRICE :$<%= usedCarValue[i].price %></h4></li>
                <li> <h4>Miles :<%= usedCarValue[i].miles %></h4></li>
                <li> <h4>zip :<%= usedCarValue[i].dealer.zip %></h4></li>
                
                    <% let image1=''; %>
                    <% if(usedCarValue[i].media){ %>
                        <% image1 = usedCarValue[i].media.photo_links[0] %>
                   <% } %>
                    <img src="<%=image1%>">
                    
                
                   
                   
                <li> <a href="<%= usedCarValue[i].vdp_url %>">Seller Website</a></li>
                

            </div>
    <% } %>
   

    </ul>
</body>
</html>